<div class="container mx-auto px-6">
  <!-- title -->
  <div>
    <h4 class="text-white text-lg">Paginatitel</h4>
  </div>
  <!-- content 1-->
  <div class="py-3">
    <h5 class="text-white opacity_8 text-sm py-3">Inhoudsopgave</h5>
    <p class="text_darkGray text-sm py-1">Artikel 1 - Definities</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 2 - Identiteit van de ondernemer
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 3 - Toepasselijkheid</p>
    <p class="text_darkGray text-sm py-1">Artikel 4 - Het aanbod</p>
    <p class="text_darkGray text-sm py-1">Artikel 5 - De overeenkomst</p>
    <p class="text_darkGray text-sm py-1">Artikel 6 - Herroepingsrecht</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 7 - Verplichtingen van de consument tijdens de bedenktijd
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 8 - Uitoefening van het herroepingsrecht door de consument en
      kosten daarvan
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 9 - Verplichtingen van de ondernemer bij herroeping
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 10 - Uitsluiting herroepingsrecht
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 11 - De prijs</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 12 - Nakoming en extra garantie
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 13 - Levering en uitvoering
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 14 - Duurtransacties: duur, opzegging en verlenging
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 15 - Betaling</p>
  </div>
  <!-- content 2-->
  <div class="py-3">
    <h5 class="text-white opacity_8 text-sm py-3">Inhoudsopgave</h5>
    <p class="text_darkGray text-sm py-1">Artikel 1 - Definities</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 2 - Identiteit van de ondernemer
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 3 - Toepasselijkheid</p>
    <p class="text_darkGray text-sm py-1">Artikel 4 - Het aanbod</p>
    <p class="text_darkGray text-sm py-1">Artikel 5 - De overeenkomst</p>
    <p class="text_darkGray text-sm py-1">Artikel 6 - Herroepingsrecht</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 7 - Verplichtingen van de consument tijdens de bedenktijd
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 8 - Uitoefening van het herroepingsrecht door de consument en
      kosten daarvan
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 9 - Verplichtingen van de ondernemer bij herroeping
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 10 - Uitsluiting herroepingsrecht
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 11 - De prijs</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 12 - Nakoming en extra garantie
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 13 - Levering en uitvoering
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 14 - Duurtransacties: duur, opzegging en verlenging
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 15 - Betaling</p>
  </div>
  <!-- content 3-->
  <div class="py-3">
    <h5 class="text-white opacity_8 text-sm py-3">Inhoudsopgave</h5>
    <p class="text_darkGray text-sm py-1">Artikel 1 - Definities</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 2 - Identiteit van de ondernemer
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 3 - Toepasselijkheid</p>
    <p class="text_darkGray text-sm py-1">Artikel 4 - Het aanbod</p>
    <p class="text_darkGray text-sm py-1">Artikel 5 - De overeenkomst</p>
    <p class="text_darkGray text-sm py-1">Artikel 6 - Herroepingsrecht</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 7 - Verplichtingen van de consument tijdens de bedenktijd
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 8 - Uitoefening van het herroepingsrecht door de consument en
      kosten daarvan
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 9 - Verplichtingen van de ondernemer bij herroeping
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 10 - Uitsluiting herroepingsrecht
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 11 - De prijs</p>
    <p class="text_darkGray text-sm py-1">
      Artikel 12 - Nakoming en extra garantie
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 13 - Levering en uitvoering
    </p>
    <p class="text_darkGray text-sm py-1">
      Artikel 14 - Duurtransacties: duur, opzegging en verlenging
    </p>
    <p class="text_darkGray text-sm py-1">Artikel 15 - Betaling</p>
  </div>
</div>
