<div class="container mx-auto px-6 py-6">
  <!-- filters -->
  <div class="flex flex-col lg:items-end xl:items-end lg:flex-row xl:flex-row">
    <!-- left side -->
    <div
      class="
        w-full
        flex flex-col
        lg:flex-row
        xl:flex-row
        w-full
        lg:w-9/12
        xl:w-9/12
        lg:items-end
        xl:items-end
      "
    >
      <div class="flex flex-col w-full lg:w-4/12 xl:w-4/12">
        <label class="opacity_8 text-white text-sm py-2"
          >Selecteer een Automerk</label
        >
        <select
          class="common_form_input w-full px-5 py-3"
          placeholder="531351531"
        >
          <option>FIAT</option>
        </select>
      </div>
      <!-- buttons -->
      <div
        class="
          flex flex-col
          items-center
          lg:flex-row lg:items-end
          xl:flex-row xl:items-end
          h-full
          px-2
        "
      >
        <button
          class="
            bg_yellow
            cursor-pointer
            rounded-lg
            px-4
            my-2
            lg:my-0
            xl:my-0
            py-3
            h_fit_content
            flex
            justify-center
          "
        >
          <img src="./assets/images/pencil@3x.png" class="h_21px" alt="" />
          <span class="text-center text-base opacity_8 px-2">Edit</span>
        </button>
        <button
          class="
            mx-0
            lg:mx-2
            xl:mx-2
            bg_buttonGray
            cursor-pointer
            rounded-lg
            px-4
            my-2
            lg:my-0
            xl:my-0
            text-white
            hover:text-black
            opacity_8
            py-3
            h_fit_content
            flex
            justify-center
          "
        >
          <img src="./assets/images/delete.png" class="h_21px" alt="" />
          <span class="text-center text-base opacity_8 px-2">Delete</span>
        </button>
      </div>
    </div>
    <!-- right side -->
    <div
      class="
        w-full
        flex
        justify-center
        lg:justify-end
        xl:justify-end
        lg:w-3/12
        xl:w-3/12
      "
    >
      <!-- button -->
      <div>
        <button
          class="bg_buttonGray br_yellow px-5 py-2 rounded-lg text_yellow"
        >
          Model toevoegen
        </button>
      </div>
    </div>
  </div>
  <div class="py-4">
    <h4 class="text-sm text_darkGray">FIAT geselecteerd</h4>
  </div>
  <div class="py-5 categorieen_collapsible_component">
    <!-- collapse 1 -->
    <div *ngFor="let hero of HEROES; let i = index">
      <div
        class="collapse_container bg_component_color rounded-lg py-2 px-5 my-2"
        (click)="onItemClick(hero.id)"
      >
        <!-- header -->
        <div
          class="
            w-full
            flex
            justify-between
            lg:items-center
            xl:items-center
            cursor-pointer
          "
        >
          <div
            class="
              w-8/12
              flex
              lg:flex-row
              xl:flex-row
              lg:items-center
              xl:items-center
            "
          >
            <h6 class="text-white opacity_8">{{ hero.title1 }}</h6>
            <h6 class="px-0 lg:px-8 xl:px-8 text-white opacity_8">
              {{ hero.title2 }}
            </h6>
          </div>
          <div class="w-4/12 flex items-center justify-end h-full px-2">
            <button
              (click)="openNav()"
              class="
                bg_yellow
                cursor-pointer
                rounded-lg
                px-3
                my-2
                lg:my-0
                xl:my-0
                py-3
                mx-2
                h_fit_content
                flex
                justify-center
              "
            >
              <img src="./assets/images/pencil@3x.png" class="h_21px" alt="" />
            </button>
            <button
              class="
                bg_yellow
                cursor-pointer
                rounded-lg
                px-4
                my-2
                lg:my-0
                xl:my-0
                py-3
                h_fit_content
                flex
                justify-center
              "
            >
              <img src="./assets/images/trash(1).png" class="h_21px" alt="" />
            </button>
          </div>
        </div>
        <!-- body -->
        <div
          class="py-5 cursor-pointer"
          [ngClass]="
            hero.id === showCloseId && showPopup ? '' : ' common_collapse_body'
          "
        >
          <div class="flex items-center">
            <p class="text-white opacity_8">
              - 500 (111_, 101_, 110_) | 1957.06-1976.01
            </p>
            <div>
              <img
                src="../../../assets/images/cancel (1)@3x.png"
                alt=""
                class="h_14px px-5"
              />
            </div>
          </div>
          <div class="flex items-center">
            <p class="text-white opacity_8">
              - 500 (111_, 101_, 110_) | 1957.06-1976.01
            </p>
            <div>
              <img
                src="../../../assets/images/cancel (1)@3x.png"
                alt=""
                class="h_14px px-5"
              />
            </div>
          </div>
          <div class="flex items-center">
            <p class="text-white opacity_8">
              - 500 (111_, 101_, 110_) | 1957.06-1976.01
            </p>
            <div>
              <img
                src="../../../assets/images/cancel (1)@3x.png"
                alt=""
                class="h_14px px-5"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fixed z-10 inset-0 overflow-y-auto modal_container"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    id="modal1"
    *ngIf="popup"
  >
    <div
      class="
        flex
        items-end
        justify-center
        min-h-screen
        pt-4
        pb-20
        px-3
        text-center
        sm:block sm:p-0
      "
    >
      <div
        class="
          fixed
          inset-0
          bg-gray-500 bg-opacity-75
          transition-opacity
          cursor-pointer
        "
        aria-hidden="true"
        (click)="closeNav()"
      ></div>
      <span
        class="
          hidden
          sm:inline-block sm:align-middle sm:h-screen
          cursor-pointer
        "
        aria-hidden="true"
        (click)="closeNav()"
        >&#8203;</span
      >
      <div
        class="
          inline-block
          align-bottom
          bg_darkblue3
          rounded-lg
          text-left
          overflow-hidden
          shadow-xl
          transform
          transition-all
          sm:my-8 sm:align-middle sm:max-w-lg sm:w-full
        "
      >
        <div class="bg_darkblue3 pt-4 pb-3">
          <div class="sm:flex sm:items-start">
            <div class="mt-2 text-center sm:mt-0 w-full sm:text-left">
              <div class="flex justify-between px-4">
                <h3
                  class="text-lg leading-6 font-medium text_gray3"
                  id="modal-title"
                >
                  Voer de naam van het nieuwe type in van AUDI
                </h3>
                <div class="cursor-pointer" (click)="closeNav()">
                  <img
                    src="./assets/images/cancel(1)@3x.png"
                    alt=""
                    class="h_14px"
                  />
                </div>
              </div>
              <div class="modal_hr_line2 mt-2"></div>
              <div class="px-5 py-3 w-full">
                <input
                  class="common_form_input w-full px-5 py-3"
                  placeholder="type here"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="
            bg_darkblue3
            px-2
            pt-1
            pb-4
            sm:px-6
            flex flex-col
            lg:flex-row
            justify-center
            xl:flex-row
            lg:justify-end
            xl:justify-end
          "
        >
          <div
            class="w-full lg:w-3/12 px-0 lg:px-3 xl:px-3 py-2 lg:py-0 xl:py-0"
          ></div>
          <div class="w-full lg:w-4/12">
            <button
              type="button"
              class="
                bg_yellow
                text-center
                w-full
                border
                rounded-lg
                br_yellow
                px-3
                py-2
              "
            >
              Toewoegen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
