<div class="container mx-auto px-6 py-5">
  <!-- 1st box -->
  <div class="flex flex-wrap justify-between lg:justify-start xl:justify-start">
    <div
      class="
        bg_component_color
        w-5/12
        lg:w-2/12
        xl:w-2/12
        mr-4
        my-2
        px-5
        py-5
        rounded-lg
      "
    >
      <div class="bg_component_color2 text-center py-2 rounded-lg px-6">
        <h5 class="text-white opacity_8">Maandag</h5>
      </div>
      <div class="text-center py-4">
        <h5 class="text-white opacity_8 py-1 fs_15px">OPEN OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
      <div class="text-center py-1">
        <h5 class="text-white opacity_8 py-1 fs_15px">SLUIT OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
    </div>
    <!-- 2nd box -->
    <div
      class="
        bg_component_color
        w-5/12
        lg:w-2/12
        xl:w-2/12
        mr-4
        my-2
        px-5
        py-5
        rounded-lg
      "
    >
      <div class="bg_component_color2 text-center py-2 rounded-lg px-6">
        <h5 class="text-white opacity_8">Dinsdag</h5>
      </div>
      <div class="text-center py-4">
        <h5 class="text-white opacity_8 py-1 fs_15px">OPEN OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
      <div class="text-center py-1">
        <h5 class="text-white opacity_8 py-1 fs_15px">SLUIT OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
    </div>
    <!-- 3rd -->
    <div
      class="
        bg_component_color
        w-5/12
        lg:w-2/12
        xl:w-2/12
        mr-4
        my-2
        px-5
        py-5
        rounded-lg
      "
    >
      <div class="bg_component_color2 text-center py-2 rounded-lg px-6">
        <h5 class="text-white opacity_8">Woensdag</h5>
      </div>
      <div class="text-center py-4">
        <h5 class="text-white opacity_8 py-1 fs_15px">OPEN OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
      <div class="text-center py-1">
        <h5 class="text-white opacity_8 py-1 fs_15px">SLUIT OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
    </div>
    <!-- 4th -->
    <div
      class="
        bg_component_color
        w-5/12
        lg:w-2/12
        xl:w-2/12
        mr-4
        my-2
        px-5
        py-5
        rounded-lg
      "
    >
      <div class="bg_component_color2 text-center py-2 rounded-lg px-6">
        <h5 class="text-white opacity_8">Woensdag</h5>
      </div>
      <div class="text-center py-4">
        <h5 class="text-white opacity_8 py-1 fs_15px">OPEN OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
      <div class="text-center py-1">
        <h5 class="text-white opacity_8 py-1 fs_15px">SLUIT OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
    </div>
    <!-- 5th -->
    <div
      class="
        bg_component_color
        w-5/12
        lg:w-2/12
        xl:w-2/12
        mr-4
        my-2
        px-5
        py-5
        rounded-lg
      "
    >
      <div class="bg_component_color2 text-center py-2 rounded-lg px-6">
        <h5 class="text-white opacity_8">Vrijdag</h5>
      </div>
      <div class="text-center py-4">
        <h5 class="text-white opacity_8 py-1 fs_15px">OPEN OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
      <div class="text-center py-1">
        <h5 class="text-white opacity_8 py-1 fs_15px">SLUIT OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
    </div>
    <!-- 6th -->
    <div
      class="
        bg_component_color
        w-5/12
        lg:w-2/12
        xl:w-2/12
        mr-4
        px-5
        my-2
        py-5
        rounded-lg
      "
    >
      <div class="bg_component_color2 text-center py-2 rounded-lg px-6">
        <h5 class="text-white opacity_8">Zaterdag</h5>
      </div>
      <div class="text-center py-4">
        <h5 class="text-white opacity_8 py-1 fs_15px">OPEN OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
      <div class="text-center py-1">
        <h5 class="text-white opacity_8 py-1 fs_15px">SLUIT OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
    </div>
    <!-- 7th -->
    <div
      class="
        bg_component_color
        w-5/12
        lg:w-2/12
        xl:w-2/12
        mr-4
        px-5
        my-2
        py-5
        rounded-lg
      "
    >
      <div class="bg_component_color2 text-center py-2 rounded-lg px-6">
        <h5 class="text-white opacity_8">Zondag</h5>
      </div>
      <div class="text-center py-4">
        <h5 class="text-white opacity_8 py-1 fs_15px">OPEN OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
      <div class="text-center py-1">
        <h5 class="text-white opacity_8 py-1 fs_15px">SLUIT OM</h5>
        <p class="text_darkGray text-sm">12:00 AM</p>
      </div>
    </div>
  </div>
  <!-- button and content -->
  <div
    class="
      flex flex-col
      justify-center
      lg:flex-row
      xl:flex-row
      lg:justify-between
      xl:justify-between
      lg:items-center
      py-5
    "
  >
    <p class="text-sm text_darkGray py-2">
      Indien je op een dag gesloten bent, vul dan 00:00 - 00:00 in.
    </p>
    <button class="px-4 py-3 bg_yellow rounded-lg">Tijden opslaan</button>
  </div>
</div>
