@import "./colors.css";
@import "./width-height.css";
@import "./table.css";
@import "./fontsize.css";
@import "./flex.css";

.opacity_8 {
  opacity: 0.8;
}
.cursor_pointer {
  cursor: pointer;
}

/* common line_height */
.line_height_50 {
  line-height: 50px !important;
}
.line_height_25 {
  line-height: 25px !important;
}
.line_height_28 {
  line-height: 28px !important;
}

/* border-radius */
.br_radius6 {
  border-radius: 6px;
}
.br_radius10 {
  border-radius: 10px;
}

/* font size */
.f_38 {
  font-size: 38px;
}

/* common checkbox */
/* The container */
.checkbox_container {
  display: block;
  height: fit-content;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 21px;
  width: 22px;
  background-color: #1e2a31;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #ffd500;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color: #ffd500;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 7px;
  height: 13px;
  border: 1px solid #212e37;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox_container .checkbox_title {
  font-size: 14px;
  color: #9193a3;
}

/* common input */
.common_form_input {
  border-radius: 15px !important;
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.05) !important;
  background-color: #44515b !important;
  border: 1px solid #44515b !important;
  color: #fff !important;
  outline: none !important;
}
.common_form_input::placeholder {
  color: #fff;
  opacity: 0.55; /* Firefox */
}

.common_form_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 0.55; /* Firefox */
}

.common_form_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  opacity: 0.55; /* Firefox */
}

/* common hr Line */
.modal_hr_line {
  background-color: #515f69;
  opacity: 0.3;
  height: 1px;
  width: 100%;
}
.modal_hr_line2 {
  background-color: #515f69;
  opacity: 0.3;
  height: 2px;
  width: 100%;
}

.d_block {
  display: block;
}
.d_none {
  display: none !important;
}

/* pagination circle padding class */
.pagination_page_number_padding {
  padding: 3px 11px;
}

/* common links css */
.bedrijf_container .links_container {
  border-bottom: 1px solid #37434a;
}
.bedrijf_container .links_container .active_button button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ffd500;
  color: #16242d;
}
.bedrijf_container .links_container .inActive_button button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #424c57;
  color: #fff;
}
.bedrijf_container .links_container .inActive_button button:hover {
  background-color: #ffd500;
  color: #16242d;
}

@media (max-width: 1024px) and (min-width: 320px) {
  .bedrijf_container .links_container .inActive_button {
    width: 60%;
  }
  .bedrijf_container .links_container .inActive_button button {
    width: 100%;
  }
  .bedrijf_container .links_container .active_button {
    width: 60%;
  }
  .bedrijf_container .links_container .active_button button {
    width: 100%;
  }
}

/* custom file upload button */
.custom_file_uploadBtn .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  margin: 5px 0px;
  display: inline-block;
}

.custom_file_uploadBtn .btn {
  border: 1px dotted #ffd500;
  background-color: #44515b;
  border-radius: 8px;
}

.custom_file_uploadBtn .upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  width: inherit;
  top: 0;
  opacity: 0;
}

.container_auto {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1024px) and (min-width: 320px) {
  .container_auto {
    max-width: 100%;
    margin: auto;
  }
  .show_hide {
    display: none !important;
  }
  .smScreen_show{
    display: block!important;
  }
}

.show_hide {
  display: block;
}
.smScreen_show{
  display: none;
}
.list-none {
  list-style: none;
}

.common_grayButton{
  border: 2px solid #9fa4a7;
  color: #535e63;
  padding: 9px 15px;
  border-radius: 4px;
}
.common_grayButton:hover{
  background: rgba(0,0,0,0.1);
}

