<app-header></app-header>
<div class="prices_container px-0">
  <!-- section1 -->
  <div class="bg_gray1 section1_container">
    <div class="container_auto">
      <!-- title -->
      <div class="title_content_container d_flex flex_column items_center">
        <h3 class="title" data-aos="fade-down">Pricing Plans</h3>
        <div class="content_container">
          <p class="text_darkblue2" data-aos="fade-down">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. nunc non
            risus condiment lobortis eni m at, ef sollicitudin risus. morbi dsfg
            nunc non risus condimen. r adipis cing elit. nunc nonarehhsh
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- section2 -->
  <div class="bg-white section2_container">
    <div class="container_auto">
      <!-- content -->
      <div class="box_container" data-aos="fade-up">
        <!-- box1 -->
        <div class="common_single_box_container">
          <div class="common_box">
            <div class="title_content">
              <h4>Silver</h4>
              <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="title_content padding_tb">
              <h4>$30</h4>
              <p>Per agent per month</p>
            </div>
            <div class="button_container">
              <button class="text_darkblue2">Subscribe</button>
            </div>
            <div class="image_title_container">
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
            <!-- hr line -->
            <div class="hr_line"></div>
            <div class="plusImg_title_container">
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- box2 -->
        <div class="common_single_box_container">
          <div class="common_box">
            <div class="title_content">
              <h4>Silver</h4>
              <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="title_content padding_tb">
              <h4>$30</h4>
              <p>Per agent per month</p>
            </div>
            <div class="button_container">
              <button class="text_darkblue2">Subscribe</button>
            </div>
            <div class="image_title_container">
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
            <!-- hr line -->
            <div class="hr_line"></div>
            <div class="plusImg_title_container">
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- box3 -->
        <div class="common_single_box_container">
          <div class="common_box">
            <div class="title_content">
              <h4>Silver</h4>
              <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="title_content padding_tb">
              <h4>$30</h4>
              <p>Per agent per month</p>
            </div>
            <div class="button_container">
              <button class="text_darkblue2">Subscribe</button>
            </div>
            <div class="image_title_container">
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
            <!-- hr line -->
            <div class="hr_line"></div>
            <div class="plusImg_title_container">
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- box 4 -->
        <div class="common_single_box_container">
          <div class="common_box">
            <div class="title_content">
              <h4>Silver</h4>
              <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="title_content padding_tb">
              <h4>$30</h4>
              <p>Per agent per month</p>
            </div>
            <div class="button_container">
              <button class="text_darkblue2">Subscribe</button>
            </div>
            <div class="image_title_container">
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="image_title">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_darkblue2 ">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
            <!-- hr line -->
            <div class="hr_line"></div>
            <div class="plusImg_title_container">
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
              <div class="plusImg_title ">
                <img
                  src="../../../assets/images/goldenPlus.png"
                  class="h_40px goldenPlus"
                  alt=""
                />
                <img
                  src="../../../assets/images/whitePlus.png"
                  class="h_40px whitePlus"
                  alt=""
                />
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section3 -->
  <div>
    <app-contact-us></app-contact-us>
  </div>
</div>
<app-footer></app-footer>
