<div class="footer_container">
  <!-- section1 -->
  <div class="section1_container">
    <div class="footer_main container_auto">
      <h3 class="footer_main_heading text_darkblue2">
        This is some text description to captivate user attention
      </h3>
      <div class="footer_main_description">
        <p class="text_darkblue2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
      <div class="footer_main_button">
        <button class="text_darkblue2">Get Started</button>
      </div>
      <div class="footer_main_image">
        <img
          src="../../../assets/images/Group39783@3x.png"
          alt=""
          class="h_100px"
        />
      </div>
    </div>
  </div>
  <!-- section2 -->
  <div
    class="
      footer_main_section_2
      section2_container
      container_auto
      footer_section2_container
    "
  >
    <div class="footer_main_section_2_inner">
      <div class="footer_main_section_2_inner_image">
        <img src="../../../assets/images/logo.png" class="h_100px" alt="" />
      </div>
      <div class="footer_main_section_2_list_main">
        <!-- 1st -->
        <div class="footer_main_section_2_list_inner">
          <div>
            <h1 class="footer_main_section_2_list_inner_heading text_gray2">
              PRODUCT
            </h1>
          </div>
          <div class="footer_main_section_2_list_first">
            <ul>
              <li class="opacity_8">Features</li>
              <li class="opacity_8">Why Tellero</li>
              <li class="opacity_8">FAQ</li>
              <li class="opacity_8">Pricing</li>
              <li class="opacity_8">Integrations</li>
              <li class="opacity_8">Security</li>
              <li class="opacity_8">Status</li>
            </ul>
          </div>
        </div>
        <!-- 2nd -->
        <div class="footer_main_section_2_list_inner">
          <div>
            <h1 class="footer_main_section_2_list_inner_heading text_gray2">
              RESOURCES
            </h1>
          </div>
          <div class="footer_main_section_2_list_first">
            <ul>
              <li class="text-sm">Blog</li>
              <li class="text-sm">Help Centre</li>
              <li class="text-sm">Partners</li>
              <li class="text-sm">Customers</li>
            </ul>
          </div>
        </div>
        <!-- 3rd -->
        <div class="footer_main_section_2_list_inner">
          <div>
            <h1 class="footer_main_section_2_list_inner_heading text_gray2">
              COMPANY
            </h1>
          </div>
          <div class="footer_main_section_2_list_first">
            <ul>
              <li class="opacity_8">About us</li>
              <li class="opacity_8">Careers</li>
              <li class="opacity_8">Press</li>
              <li class="opacity_8">Legal</li>
              <li class="opacity_8">Referrals</li>
            </ul>
          </div>
        </div>
        <!-- 4th -->
        <div class="footer_main_section_2_list_inner">
          <div>
            <h1 class="footer_main_section_2_list_inner_heading text_gray2">
              LEGAL
            </h1>
          </div>
          <div class="footer_main_section_2_list_first">
            <ul>
              <li class="opacity_8">Terms of service</li>
              <li class="opacity_8">Privacy policy</li>
              <li class="opacity_8">Fraud awareness</li>
              <li class="opacity_8">Complaints process</li>
              <li class="opacity_8">GDPR</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section2_hr"></div>
      <div class="footer_main_section_2_social_media_icon links_img_container">
        <div class="footer_main_section_2_social_media_icon_image img_container">
          <img
            src="../../../assets/images/ins1.png"
            alt=""
            class="h_25px hover_inActive"
          />
          <img
            src="../../../assets/images/instWhite.png"
            alt=""
            class="h_25px activeImg"
          />
        </div>
        <div class="img_container footer_main_section_2_social_media_icon_image">
          <img
            src="../../../assets/images/web1.png"
            alt=""
            class="h_25px hover_inActive"
          />
          <img
            src="../../../assets/images/webWhite.png"
            alt=""
            class="h_25px activeImg"
          />
        </div>
        <div class="img_container footer_main_section_2_social_media_icon_image">
          <img
            src="../../../assets/images/t1.png"
            alt=""
            class="h_20px hover_inActive"
          />
          <img
            src="../../../assets/images/twitWhite.png"
            alt=""
            class="h_20px activeImg"
          />
        </div>
        <div class="img_container footer_main_section_2_social_media_icon_image">
          <img
            src="../../../assets/images/you1.png"
            alt=""
            class="h_18px hover_inActive"
          />
          <img
            src="../../../assets/images/youtWhite.png"
            alt=""
            class="h_18px activeImg"
          />
        </div>
      </div>
      <div class="footer_main_description_bottom">
        <p class="opacity_8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <p class="footer_padding_bottom opacity_8">
          All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>