<div
  class="
    container
    mx-auto
    px-8
    py-6
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full lg:w-4/12">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Algemeen
      </h4>
      <p class="text_darkGray py-2 lg:text-left xl:text-left text-sm">
        Algemene informatie over het bedrijf.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6">
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">KlantID</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="sPc5nqrS6Lx0Y6sKpc1F"
      />
    </div>
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">Websitetitel</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Meet Web IT | Welkom bij MWI"
      />
    </div>
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">Website</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="http://meetwebit.nl"
      />
    </div>
  </div>
  <div class="py-3">
    <div class="flex flex-col px-2 w-full">
      <label class="opacity_8 text-white text-base py-2">Website bericht</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Dit is een test bedrijf"
      />
    </div>
  </div>
  <div>
    <div class="flex flex-col px-2 w-full">
      <label class="opacity_8 text-white text-base py-2">Omschrijving</label>
      <textarea
        rows="3"
        class="common_form_input w-full px-5 py-3"
        placeholder="Welkom bij testbedrijf."
      ></textarea>
      <p class="py-2 text_darkGray text-sm">
        Korte uitleg over de bedrijfsactiviteiten, grootte van het bedrijf en
        gemaakte afspraken.
      </p>
    </div>
  </div>
  <div class="py-3">
    <div class="flex flex-col px-2 w-full">
      <label class="opacity_8 text-white text-base py-2"
        >Bedrijfsemailadres</label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="info@testbedrijf.nl"
      />
    </div>
  </div>
</div>
<!-- upload content 1-->
<div class="container mx-auto px-8 custom_file_uploadBtn py-4">
  <label class="opacity_8 text-white text-base my-2">Logo</label>
  <div class="upload-btn-wrapper w-full">
    <div class="flex flex-col lg:flex-row xl:flex-row w-full">
      <div class="w-full lg:w-9/12 xl:w-9/12">
        <button class="btn w-full flex flex-col items-center pt-8 pb-4">
          <span class="text-white text-base m-0 p-0"
            >Upload een logoNo file chosen</span
          >
          <span class="text-white text-base m-0 p-0">of sleep en laat los</span>
          <span class="py-4 m-0 text_yellow text-base"
            >PNG, JPG, GIF tot 10MB</span
          >
        </button>
        <input type="file" name="myfile" />
      </div>
      <div class="w-full py-2 lg:py-0 xl:py-0 lg:w-3/12 xl:w-3/12 px-3">
        <button class="btn w-full flex flex-col items-center pt-8 pb-4 h-full">
          <img
            src="../../../assets/images/uploadIcon.png"
            alt=""
            class="h_100px"
          />
        </button>
        <input type="file" name="myfile" />
      </div>
    </div>
  </div>
</div>
<!-- upload content 2-->
<div class="container mx-auto px-7 custom_file_uploadBtn py-4">
  <label class="opacity_8 text-white text-base my-2">Heroafbeelding</label>
  <div class="upload-btn-wrapper w-full">
    <button class="btn w-full flex flex-col items-center pt-8 pb-4">
      <span class="text-white text-base m-0 p-0"
        >Upload een logoNo file chosen</span
      >
      <span class="text-white text-base m-0 p-0">of sleep en laat los</span>
      <span class="py-4 m-0 text_yellow text-base">PNG, JPG, GIF tot 10MB</span>
    </button>
    <input type="file" name="myfile" />
  </div>
</div>
<!-- upload content 3 -->
<div class="container mx-auto px-7 custom_file_uploadBtn">
  <label class="opacity_8 text-white text-base my-2">Bedrijfsafbeelding</label>
  <div class="upload-btn-wrapper w-full">
    <button class="btn w-full flex flex-col items-center pt-8 pb-4">
      <span class="text-white text-base m-0 p-0"
        >Upload een logoNo file chosen</span
      >
      <span class="text-white text-base m-0 p-0">of sleep en laat los</span>
      <span class="py-4 m-0 text_yellow text-base">PNG, JPG, GIF tot 10MB</span>
    </button>
    <input type="file" name="myfile" />
  </div>
</div>
<!-- last fields -->
<div
  class="
    container
    mx-auto
    px-8
    py-6
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full lg:w-4/12">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Bedrijfsgegevens
      </h4>
      <p class="text_darkGray py-2 lg:text-left xl:text-left text-sm">
        Deze moeten gelijk zijn aan KVK-gegevens.
      </p>
      <p class="text_darkGray pt-2 lg:text-left xl:text-left text-sm">KVK</p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6 py-2">
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">Bedrijfsnaam</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Meet Web IT"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Telefoonnummer bedrijf</label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="030-03030030"
      />
    </div>
    <!-- 3rd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Mobielnummer bedijrf</label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="06-060606606"
      />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row py-3">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">KVK</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="13543513"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">BTW-ID</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="531351531"
      />
    </div>
    <!-- 3rd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Vertegenwoordiger</label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Mohamed el Hattabi"
      />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">Rechtsvorm</label>
      <select class="common_form_input w-full px-5 py-3" placeholder="">
        <option>BV</option>
        <option>BV2</option>
        <option>BV3</option>
      </select>
      <p class="text_darkGray pt-2 lg:text-left xl:text-left text-sm">
        Financieel
      </p>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row py-3">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-6/12 xl:w-6/12">
      <label class="opacity_8 text-white text-base py-2">Hoofdvestiging</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="NL12ABNA0505055050"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-6/12 xl:w-6/12">
      <label class="opacity_8 text-white text-base py-2">BIC</label>
      <input class="common_form_input w-full px-5 py-3" placeholder="BIC" />
    </div>
  </div>
  <div class="px-3">
    <p class="text_darkGray pt-2 lg:text-left xl:text-left text-sm">
      Hoofdvestiging
    </p>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row py-3">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-6/12 xl:w-6/12">
      <label class="opacity_8 text-white text-base py-2">Land/Regio</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Nederland"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-6/12 xl:w-6/12">
      <label class="opacity_8 text-white text-base py-2">Adres</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Hellostraat"
      />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row py-3">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-6/12 xl:w-6/12">
      <label class="opacity_8 text-white text-base py-2">Stad</label>
      <input class="common_form_input w-full px-5 py-3" placeholder="Utrecht" />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-6/12 xl:w-6/12">
      <label class="opacity_8 text-white text-base py-2">Postcode</label>
      <input class="common_form_input w-full px-5 py-3" placeholder="0000XX" />
    </div>
  </div>
  <div class="flex justify-end px-3 pt-4 pb-10">
    <button class="bg_yellow px-3 py-3 rounded-lg m-0">Opslaan</button>
  </div>
</div>
