<div
  class="
    container
    mx-auto
    px-8
    pt-6
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full lg:w-8/12">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Categorie
      </h4>
      <p class="text_darkGray py-2 lg:text-left xl:text-left text-sm">
        Kies een categorie. Het dropdown veld zoekt op basis van jouw
        steekwoorden de juiste categorie.
      </p>
    </div>
    <div class="heading_button py-5">
      <h4
        class="
          font-bold
          text-white text-base text-center
          lg:text-left
          xl:text-left
        "
      >
        Referentienummer: <span class="text_yellow">171108</span>
      </h4>
      <p class="text_darkGray py-2 lg:text-left xl:text-left text-sm">
        Kies een categorie. Het dropdown veld zoekt op basis van jouw
        steekwoorden de juiste categorie.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6">
  <!-- 1st input-->
  <div>
    <div class="px-2 w-full">
      <label class="opacity_8 text-white text-base py-2">Categorie</label>
    </div>
    <div class="flex py-2 w-full justify-between items-center">
      <div class="px-2 w_95per">
        <input
          class="common_form_input w-full px-5 py-3"
          placeholder="Auto onderdelen > Accu's en Toebehoren > Accu | Automerk origineel"
        />
      </div>
      <div
        class="
          bg_yellow
          cursor-pointer
          hover:bg-yellow-400
          cursor-pointer
          rounded-lg
          px-4
          my-2
          lg:my-0
          xl:my-0
          py-3
          h_fit_content
          mr-2
        "
      >
        <h4 class="text-center text-base text-white opacity_8">
          <img src="./assets/images/trash(1).png" class="h_21px" alt="" />
        </h4>
      </div>
    </div>
  </div>
</div>
<div
  class="
    container
    mx-auto
    px-8
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full lg:w-8/12">
    <div class="heading_button">
      <p class="text-white opacity_8 py-2 lg:text-left xl:text-left text-sm">
        Snelkeuze
      </p>
    </div>
    <div
      class="heading_button py-2 flex flex-wrap justify-center lg:justify-start"
    >
      <h4
        class="
          font-bold
          text_yellow text-sm text-center
          lg:text-left
          xl:text-left
        "
      >
        <u>Accu | HybrideAccu</u>
      </h4>
      <h4
        class="
          font-bold
          text_yellow text-sm text-center
          lg:text-left
          xl:text-left
          px-5
        "
      >
        <u>Accu | Automerk origineel</u>
      </h4>
    </div>
  </div>
</div>
<div class="container mx-auto px-7 pt-3">
  <div class="modal_hr_line2"></div>
</div>
<div
  class="
    container
    mx-auto
    px-8
    pt-6
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full lg:w-8/12">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Onderdeel
      </h4>
      <p class="text_darkGray py-3 lg:text-left xl:text-left text-sm">
        Vul het onderdeelnummer in en laat het systeem automatisch de velden
        voor je invullen.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6 py-2">
  <!-- 1st input-->
  <div>
    <div class="px-2 w-full">
      <label class="opacity_8 text-white text-base py-2">Onderdeelnummer</label>
    </div>
    <div class="flex py-2 w-full justify-between items-center">
      <div class="px-2 w_90per">
        <input
          class="common_form_input w-full px-5 py-3"
          placeholder="Type here"
        />
      </div>
      <div
        class="
          bg_yellow
          cursor-pointer
          hover:bg-yellow-400
          cursor-pointer
          rounded-lg
          px-3
          my-2
          lg:my-0
          xl:my-0
          py-3
          h_fit_content
          mr-2
        "
      >
        <h4 class="text-center text-base text-white opacity_8">
          <img
            src="./assets/images/magnifying-glass.png"
            class="h_21px"
            alt=""
          />
        </h4>
      </div>
      <div
        class="
          br_yellow
          cursor-pointer
          rounded-lg
          px-3
          my-2
          lg:my-0
          xl:my-0
          py-3
          h_fit_content
          mr-2
        "
      >
        <h4 class="text-center text-base text-white opacity_8">
          <img src="./assets/images/invoice.png" class="h_21px" alt="" />
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-6">
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full">
      <label class="opacity_8 text-white text-base py-2">Label titel</label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Type here"
      />
    </div>
  </div>
  <div class="py-4 flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Merk <span class="text-red-500">*</span></label
      >
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="Selecteer een merk"
      >
        <option>Selecteer een merk</option>
        <option>1</option>
      </select>
    </div>
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Model <span class="text-red-500">*</span></label
      >
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="Selecteer een merk"
      >
        <option>Selecteer eerst een merk</option>
        <option>1</option>
      </select>
    </div>
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Type <span class="text-red-500">*</span></label
      >
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="Selecteer een merk"
      >
        <option>Selecteer eerst een model</option>
        <option>1</option>
      </select>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Onderdeelnaam <span class="text-red-500">*</span></label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Selecteer een merk"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Conditie <span class="text-red-500">*</span></label
      >
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="Selecteer een merk"
      >
        <option>Selecteer eerst een merk</option>
        <option>1</option>
      </select>
    </div>
    <!-- 3rd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Montagepositie <span class="text-red-500">*</span></label
      >
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="Selecteer een merk"
      >
        <option>Niet van toepassing</option>
        <option>1</option>
      </select>
    </div>
  </div>
  <div class="py-3">
    <div class="flex flex-col px-2 w-full">
      <label class="opacity_8 text-white text-base py-2">Extra info</label>
      <textarea
        rows="3"
        class="common_form_input w-full px-5 py-3"
        placeholder="Type here"
      ></textarea>
      <p class="py-2 text_darkGray text-sm">
        Korte uitleg over de bedrijfsactiviteiten, grootte van het bedrijf en
        gemaakte afspraken.
      </p>
    </div>
  </div>
</div>
<div class="px-8">
  <div class="modal_hr_line2"></div>
</div>
<div
  class="
    container
    mx-auto
    px-8
    pt-6
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full lg:w-8/12">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Advertentie
      </h4>
      <p class="text_darkGray py-3 lg:text-left xl:text-left text-sm">
        Vul hier de aanvullende velden in voor de advertentie.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6">
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full">
      <label class="opacity_8 text-white text-base py-2"
        >Titel <span class="text-red-500">*</span></label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Type here"
      />
    </div>
  </div>
  <div class="py-3">
    <div class="flex flex-col px-2 w-full">
      <label class="opacity_8 text-white text-base py-2"
        >Advertentietekst <span class="text-red-500">*</span></label
      >
      <textarea
        rows="3"
        class="common_form_input w-full px-5 py-3"
        placeholder="Type here"
      ></textarea>
      <p class="py-2 text_darkGray text-sm">
        De standaard advertentietekst kun je wijzigingen in je bedrijfspagina.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-7 pt-3">
  <div class="modal_hr_line2"></div>
</div>
<div
  class="
    container
    mx-auto
    px-8
    pt-6
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Prijs & voorraad
      </h4>
      <p class="text_darkGray py-3 lg:text-left xl:text-left text-sm">
        Geef een prijs op en vul de aanvullende details aan. Deze worden voor de
        advertentie gebruikt, maar ook voor het product- en verzendlabel.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6">
  <div class="py-4 flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Prijs <span class="text-red-500">*</span></label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="€  0"
        type="number"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Aanbiedingsprijs <span class="text-red-500">*</span></label
      >
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="€  0"
        type="number"
      />
    </div>
    <!-- 3rd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >BTW <span class="text-red-500">*</span></label
      >
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="incl. BTW"
      >
        <option>incl. BTW</option>
        <option>1</option>
      </select>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">Intern nummer </label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Type here"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">Voorraad </label>
      <input class="common_form_input w-full px-5 py-3" placeholder="1" />
    </div>
    <!-- 3rd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Magazijnlocatie
      </label>
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="Type here"
      >
        <option>Type here</option>
      </select>
    </div>
  </div>
  <div class="px-3 py-5">
    <div>
      <h4 class="text-white opacity_8">Voorraadopties</h4>
    </div>
    <div class="py-4 flex flex-wrap">
      <div class="py-1 pr-8">
        <label class="checkbox_container flex">
          <input type="checkbox" />
          <span class="checkmark"></span>
          <span class="checkbox_title opacity_8"
            >Verkoop Zonder Voorraad Toestaan</span
          >
        </label>
      </div>
      <div class="py-1 pr-8">
        <label class="checkbox_container flex">
          <input type="checkbox" />
          <span class="checkmark"></span>
          <span class="checkbox_title opacity_8"
            >Advertentie actief houden wanneer er geen voorraad is</span
          >
        </label>
      </div>
      <div class="py-1 pr-8">
        <label class="checkbox_container flex">
          <input type="checkbox" />
          <span class="checkmark"></span>
          <span class="checkbox_title opacity_8">Onbeperkte voorraad</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-7">
  <div class="modal_hr_line2"></div>
</div>
<div
  class="
    container
    mx-auto
    px-8
    pt-7
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Verzending
      </h4>
      <p class="text_darkGray py-3 lg:text-left xl:text-left text-sm">
        Op basis van deze gegevens worden de verzendkosten berekend.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6">
  <div class="px-3 pt-3">
    <label class="opacity_8 text-white text-base"> Afmeting </label>
  </div>
  <div class="py-4 flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col py-1 px-2 w-full lg:w-4/12 xl:w-4/12">
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="L  0"
        type="number"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col py-1 px-2 w-full lg:w-4/12 xl:w-4/12">
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="B  0"
        type="number"
      />
    </div>
    <!-- 3rd input-->
    <div class="flex flex-col py-1 px-2 w-full lg:w-4/12 xl:w-4/12">
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="H  0"
        type="number"
      />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2">Gewicht </label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="1"
        type="number"
      />
    </div>
    <!-- 2nd input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Speciaal verzendtarief
      </label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="€ 0"
        type="number"
      />
    </div>
  </div>
  <div class="px-3 py-5">
    <div>
      <h4 class="text-white opacity_8">Aflevering</h4>
    </div>
    <div class="py-4 flex flex-wrap">
      <div class="py-1 pr-8">
        <label class="checkbox_container flex">
          <input type="checkbox" />
          <span class="checkmark"></span>
          <span class="checkbox_title opacity_8">Verzenden en ophalen</span>
        </label>
      </div>
      <div class="py-1 pr-8">
        <label class="checkbox_container flex">
          <input type="checkbox" />
          <span class="checkmark"></span>
          <span class="checkbox_title opacity_8">Verzenden</span>
        </label>
      </div>
      <div class="py-1 pr-8">
        <label class="checkbox_container flex">
          <input type="checkbox" />
          <span class="checkmark"></span>
          <span class="checkbox_title opacity_8">Ophalen</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-7">
  <div class="modal_hr_line2"></div>
</div>
<div
  class="
    container
    mx-auto
    px-8
    pt-7
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Gerelateerde producten
      </h4>
      <p class="text_darkGray py-3 lg:text-left xl:text-left text-sm">
        Kies producten die gerelateerd zijn aan dit product.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6 pb-7">
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Selecteer een advertentie
      </label>
      <input
        class="common_form_input w-full px-5 py-3"
        placeholder="Zoek advertentie"
        [value]="getName"
        (keyup)="handleEvent($any($event).target.value)"
      />
      <div class="w-full py-2 px-1" *ngIf="showFilterPopup">
        <div
          class="
            common_form_input
            w-full
            filter_records
            lg:w-3/12
            xl:w-3/12
            absolute
            z-10
          "
        >
          <div *ngFor="let single of states.allRecord; let i = index">
            <p class="text-white text-base py-2 px-5" (click)="getUserName(single.name)">
              {{ single ? single.name : "" }}
            </p>
            <div class="modal_hr_line2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-7">
  <div class="modal_hr_line2"></div>
</div>
<div
  class="
    container
    mx-auto
    px-8
    pt-7
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Kenmerken
      </h4>
      <p class="text_darkGray py-3 lg:text-left xl:text-left text-sm">
        Specifieke kenmerken van het product om de vindbaarheid op marktplaats
        te verhogen.
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto px-6 pb-7">
  <div class="flex flex-col lg:flex-row xl:flex-row">
    <!-- 1st input-->
    <div class="flex flex-col px-2 w-full lg:w-4/12 xl:w-4/12">
      <label class="opacity_8 text-white text-base py-2"
        >Montage mogelijk
      </label>
      <select
        class="common_form_input w-full px-5 py-3"
        placeholder="Zoek advertentie"
      >
        <option>Nee</option>
      </select>
    </div>
  </div>
</div>
<div class="flex justify-end container mx-auto px-6 py-5">
  <div
    class="
      br_yellow
      cursor-pointer
      bg_buttonGray
      rounded-lg
      px-3
      my-2
      lg:my-0
      xl:my-0
      py-2
      h_fit_content
      mr-2
      text_yellow
    "
  >
    <h4 class="text-center text-base opacity_8">Terug</h4>
  </div>
  <div
    class="
      bg_yellow
      cursor-pointer
      hover:bg-yellow-400
      cursor-pointer
      rounded-lg
      px-3
      my-2
      lg:my-0
      xl:my-0
      py-2
      h_fit_content
      mr-2
    "
  >
    <h4 class="text-center text-base text_darkblue2 opacity_8">Opslaan</h4>
  </div>
  <div
    class="
      bg_yellow
      cursor-pointer
      hover:bg-yellow-400
      cursor-pointer
      rounded-lg
      px-3
      my-2
      lg:my-0
      xl:my-0
      py-2
      h_fit_content
      mr-2
    "
  >
    <h4 class="text-center text-base text-white opacity_8">
      <img src="./assets/images/printing@3x.png" class="h_23px" alt="" />
    </h4>
  </div>
</div>
