<div class="w-full">
  <div>
    <div class="heading_button pt-6 pb-3">
      <h4 class="font-bold text-white text-center lg:text-left xl:text-left">
        Gratis verzenden vanaf bedrag
      </h4>
    </div>
    <div class="flex flex-wrap justify-between">
      <div
        class="
          flex flex-col
          lg:flex-row
          xl:flex-row
          py-2
          justify-center
          lg:justify-start lg:items-center
          w-full
          lg:w-6/12
          xl:w-6/12
        "
      >
        <div class="flex flex-col w-full lg:w-7/12">
          <input
            class="common_form_input w-full px-5 py-3"
            placeholder="0"
            type="number"
          />
        </div>
        <div class="px-2 py-3 lg:py-0">
          <button
            type="button"
            class="
              w-full
              text_yellow text-center
              border
              rounded-lg
              br_yellow
              pl-3
              pr-4
              py-2
              bg_buttonGray
            "
          >
            EUR
          </button>
        </div>
      </div>
      <div class="flex flex-wrap lg:items-center justify-center lg:justify-end">
        <div class="px-2 py-1 lg:py-0">
          <button class="bg_yellow px-3 py-3 text-black rounded-lg">
            Nieuw rij
          </button>
        </div>
        <div class="px-2 py-1 lg:py-0">
          <button class="bg_yellow px-3 py-3 text-black rounded-lg">
            Opslaan
          </button>
        </div>
        <div class="px-2 py-1 lg:py-0">
          <button class="bg_yellow px-3 py-3 text-black rounded-lg">
            Land verwijderen
          </button>
        </div>
      </div>
    </div>
    <div>
      <p class="text_darkGray py-2 lg:text-left xl:text-left text-sm">
        Laat op 0 als er geen gratis verzenden is.
      </p>
    </div>
  </div>
  <div class="bg_component_color rounded-lg px-3 py-3 nederland_component my-3">
    <div class="table_responsive_width">
      <div class="flex table_body">
        <!-- 1st -->
        <div class="px-2 w-3/12">
          <div class="w-full rounded-lg bg_component_color2 px-4 py-3">
            <!-- title -->
            <div>
              <h4 class="text_darkGray text-sm">Gewicht Vanaf</h4>
            </div>
            <div class="py-4 number-wrapper">
              <input
                class="common_form_input w-full px-5 py-3"
                placeholder="0"
                type="number"
              />
            </div>
          </div>
        </div>
        <!-- 2nd -->
        <div class="px-2 w-3/12">
          <div class="w-full rounded-lg bg_component_color2 px-4 py-3">
            <!-- title -->
            <div>
              <h4 class="text_darkGray text-sm">Gewicht Tot</h4>
            </div>
            <div class="py-4">
              <input
                class="common_form_input w-full px-5 py-3"
                placeholder="0"
                type="number"
              />
            </div>
          </div>
        </div>
        <!-- 3rd -->
        <div class="px-2 w-3/12">
          <div class="w-full rounded-lg bg_component_color2 px-4 py-3">
            <!-- title -->
            <div>
              <h4 class="text_darkGray text-sm">Verzendkosten</h4>
            </div>
            <div class="py-4">
              <input
                class="common_form_input w-full px-5 py-3"
                placeholder="0"
                type="number"
              />
            </div>
          </div>
        </div>
        <!-- 4th -->
        <div class="px-2 w-3/12">
          <div class="w-full rounded-lg bg_component_color2 px-4 py-3">
            <!-- title -->
            <div>
              <h4 class="text_darkGray text-sm">Actions</h4>
            </div>
            <div class="py-4">
              <button
                class="
                  bg_yellow
                  px-3
                  py-3
                  w-full
                  text-black
                  rounded-lg
                  flex
                  justify-center
                  items-center
                "
              >
                <img
                  src="../../../assets/images/trash(1).png"
                  class="h_22px"
                  alt=""
                />
                <span class="px-3"> Verwijderen </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>