<!-- filters -->
<div
  class="
    flex flex-col
    lg:flex-row
    xl:flex-row
    justify-between
    container
    px-6
    pt-6
    mx-auto
    dashboard_filters_container
  "
>
  <!-- left side -->
  <div
    class="
      input_container
      w-full
      flex flex-col
      lg:flex-row
      xl:flex-row
      lg:justify-between
    "
  >
    <div class="w-full lg:w-5/12 xl:w-5/12 flex">
      <input
        placeholder="Zoek op bedrijfsnaam, contactpersoon etc"
        class="input px-4 w-full py-2"
      />
      <div class="search_icon_container">
        <img
          src="../../../assets/images/magnifying-glass@3x.png"
          class="h_15px absolute"
        />
      </div>
    </div>
    <div class="px-3 w-full lg:w-4/12 xl:w-4/12 flex justify-end">
      <button
        type="button"
        class="
          w-full
          text_yellow text-center
          border
          rounded-lg
          br_yellow
          pl-3
          pr-4
          py-2
          bg_buttonGray
        "
      >
        Contactpersoon toevoegen
      </button>
    </div>
  </div>
</div>
<!-- table -->
<div class="table_container container mx-auto py-4 px-6">
  <div class="br_radius6 table_responsive_width bg_component_color px-3 py-3">
    <!-- header -->
    <div class="w-full table_header br_radius10 py-3 px-1">
      <ul class="list-none flex justify-between py-2">
        <li class="w-2/12 px-6">Email</li>
        <li class="w-2/12">Telnr</li>
        <li class="w-2/12">Zakalijk</li>
        <li class="w-2/12">Aangemaakt op</li>
        <li class="w-2/12">Laatste transactie</li>
        <li class="w-2/12 px-1"></li>
      </ul>
    </div>
    <!-- body -->
    <div class="w-full table_body br_radius10 py-3">
      <ul
        class="list-none flex justify-between data py-3"
        *ngFor="let hero of HEROES; let i = index"
      >
        <li class="w-2/12 px-6">{{ hero.email }}</li>
        <li class="w-2/12 flex px-1">
          {{ hero.telnr }}
        </li>
        <li class="w-2/12 px-2">
          {{ hero.Zakalijk }}
        </li>
        <li class="w-2/12 px-1">{{ hero.Aangemaakt_op }}</li>
        <li class="w-2/12 px-1">{{ hero.Laatste_transactie }}</li>
        <ul
          class="w-2/12 px-3 flex justify-center py-2 cursor-pointer"
          (click)="onItemClick(hero.id)"
        >
          <li class="open_moreDetail_popup">
            <img src="../../../assets/images/dots.png" alt="" class="h_7px" />
          </li>
          <ul
            class="more_option_popup margin_top2 cursor-pointer"
            [ngClass]="
              hero.id === itemId && showPopup ? '' : ' common_popup_id'
            "
          >
            <ul class="list-none content_container">
              <li class="px-5 py-3">Bekiiikin</li>
              <!-- horizontal line -->
              <li class="hr_line"></li>
              <li class="px-5 py-3">Facturen</li>
            </ul>
          </ul>
        </ul>
      </ul>
    </div>
  </div>
</div>
<!-- pagination -->
<div
  class="
    flex
    justify-between
    container
    mx-auto
    px-6
    pt-2
    pb-10
    flex-col-reverse
    items-center
    lg:flex-row
    xl:flex-row
    lg:items-start
    xl:items-start
  "
>
  <!-- left side -->
  <div class="py-5 lg:py-0 xl:py-0">
    <p class="text_darkGray text-sm">Showing 14 out of 189 entries</p>
  </div>
  <!-- right side -->
  <div>
    <ul class="list-none flex items-center">
      <li class="px-2 cursor-pointer pagination_arrow_color"><</li>
      <li
        class="
          mx-1
          pagination_page_number_padding
          text-sm
          bg_yellow
          rounded-full
          cursor-pointer
          text-center
        "
      >
        1
      </li>
      <li
        class="
          mx-1
          pagination_page_number_padding
          text-sm
          cursor-pointer
          rounded-full
          cursor-pointer
          pagination_inactive_number
          text-center text_darkGray
        "
      >
        2
      </li>
      <li
        class="
          pagination_page_number_padding
          text-sm
          cursor-pointer
          rounded-full
          cursor-pointer
          pagination_inactive_number
          text-center text_darkGray
        "
      >
        3
      </li>
      <li class="px-2 cursor-pointer pagination_arrow_color">></li>
    </ul>
  </div>
</div>
