.create_account_container .bg_transparent {
  background: #212e37;
}
.backImg{
  background: url("../../../assets/images/loginBackground.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
}