<div class="login_bg_color min_100vh">
  <!-- header -->
  <div class="container mx-auto z-10">
    <app-login-header></app-login-header>
  </div>
  <div class="backImg">
    <div class="flex justify-center container mx-auto z-10">
      <div
        class="
          flex flex-col
          lg:flex-row
          xl:flex-row
          py-10
          px-3
          justify-center
          w-full
        "
      >
        <!-- left side form-->
        <div class="w-full lg:w-3/12 xl:w-3/12 z-10">
          <div class="w-full bg_component_color2 rounded-lg py-5 px-5">
            <!-- title -->
            <div>
              <h4 class="text-xl text-white font-semibold">
                Create new account
              </h4>
              <p class="py-3 text_darkGray text-sm">
                Hey, please fill in the details below.
              </p>
            </div>
            <!-- form -->
            <form class="create_account_container py-4">
              <div>
                <div class="flex items-center">
                  <div>
                    <img
                      src="../../../assets/images/Path 83363@3x.png"
                      alt=""
                      class="h_18px"
                    />
                  </div>
                  <h4 class="text-white px-3 font-semibold text-lg">Email</h4>
                </div>
                <div class="py-2">
                  <input
                    placeholder="Type here"
                    class="bg_transparent px-3 w-full py-3 rounded-lg"
                  />
                </div>
              </div>
              <div class="pt-4">
                <div class="flex items-center">
                  <div>
                    <img
                      src="../../../assets/images/Path 83364@3x.png"
                      alt=""
                      class="h_27px"
                    />
                  </div>
                  <h4 class="text-white px-3 font-semibold text-lg">
                    Password
                  </h4>
                </div>
                <div class="py-2">
                  <input
                    placeholder="Type here"
                    class="bg_transparent px-3 w-full py-3 rounded-lg"
                  />
                </div>
              </div>
              <div class="flex justify-end pt-2 pb-5">
                <h5
                  class="text_yellow text-base cursor-pointer"
                  routerLink="/forgot-password"
                >
                  Forgot Password?
                </h5>
              </div>
              <div>
                <button
                  routerLink="/dashboard"
                  type="button"
                  class="w-full text-center rounded-lg pl-3 pr-4 py-3 bg_yellow"
                >
                  Log In
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- right side -->
        <div class="w-full lg:w-4/12 xl:w-4/12 px-3 lg:px-10 xl:px-10 z-10">
          <app-login-faq></app-login-faq>
        </div>
      </div>
    </div>
  </div>
</div>
