<app-header></app-header>
<div class="service_container service_main">
  <!-- section1 -->
  <div class="bg_gray1 service_container_section_1">
    <div class="container_auto">
      <!-- title -->
      <div class="services_title">
        <h3 class="text_center" data-aos="fade-up">Services</h3>
        <div class="services_inner">
          <p class="text_center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. nunc non
            risus condiment lobortis eni m at, ef sollicitudin risus. morbi dsfg
            nunc non risus condimen. r adipis cing elit. nunc nonarehhsh
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- section2 -->
  <div class="services_section_2">
    <div class="container_auto">
      <!-- title -->
      <div class="services_section_2_inner">
        <div class="services_section_2_description">
          <p class="text_center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. t dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <!-- content -->
      <div class="specialty_container" data-aos="fade-left">
        <!-- box1 -->
        <div class="specialty_inner">
          <div class="specialty_single_box">
            <!-- img -->
            <div class="specialty_container_image">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div class="speciality_conatine_description">
              <h4 class="text_center">Specialty No. 1</h4>
              <p class="text_center text_darkblue2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
        <!-- box2 -->
        <div class="specialty_inner">
          <div class="specialty_single_box">
            <!-- img -->
            <div class="specialty_container_image">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div class="speciality_conatine_description">
              <h4 class="text_center">Specialty No. 2</h4>
              <p class="text_center text_darkblue2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
        <!-- box3 -->
        <div class="specialty_inner">
          <div class="specialty_single_box">
            <!-- img -->
            <div class="specialty_container_image">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div class="speciality_conatine_description">
              <h4 class="text_center">Specialty No. 3</h4>
              <p class="text_center text_darkblue2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
        <!-- box 4 -->
        <div class="specialty_inner">
          <div class="specialty_single_box">
            <!-- img -->
            <div class="specialty_container_image">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div class="speciality_conatine_description">
              <h4 class="text_center">Specialty No. 4</h4>
              <p class="text_center text_darkblue2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section3 -->
  <div class="section_3 bg_gray1">
    <div class="container_auto">
      <!-- title -->
      <div class="section_3_title">
        <h3 class="text_center" data-aos="fade-up">What is Meetads?</h3>
        <div class="section_3_description">
          <p class="text_center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. t dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p class="text_center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. t dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- section 4 -->
  <div class="section_4 bg_white">
    <div class="section_4_container container_auto">
      <!-- left side -->
      <div class="section_4_left" data-aos="fade-left">
        <img src="../../../assets/images/Group39439@3x.png" alt="" />
      </div>
      <!-- right side -->
      <div class="section_4_right">
        <h3 data-aos="fade-up">Why Need Meetads?</h3>
        <div class="section_4_right_description">
          <p class="text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <p class="text_darkblue2" data-aos="fade-up">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. t dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- section 5 -->
  <div class="secvices_section5_container">
    <div class="secvices_section5_inner container_auto">
      <!-- left side -->
      <div class="secvices_section5_inner_left" data-aos="fade-left">
        <div class="secvices_section5_list_headings">
          <h4>Benefits</h4>
        </div>
        <div class="secvices_section5_list_containter">
          <!-- list 1 -->
          <div class="secvices_section5_list">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="opacity_8">
              Lorem ipsum dolor sit amet, consectetur adipisci
            </p>
          </div>
          <!-- list 2 -->
          <div class="secvices_section5_list">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="opacity_8">
              Lorem ipsum dolor sit amet, consectetur adipisci,
            </p>
          </div>
          <!-- list 3 -->
          <div class="secvices_section5_list">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="opacity_8">
              Lorem ipsum dolor sit amet, consectetur adipisci,
            </p>
          </div>
          <!-- list 4 -->
          <div class="secvices_section5_list">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="opacity_8">
              Lorem ipsum dolor sit amet, consectetur adipisci,
            </p>
          </div>
          <!-- list 5 -->
          <div class="secvices_section5_list">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="opacity_8">
              Lorem ipsum dolor sit amet, consectetur adipisci,
            </p>
          </div>
          <!-- list 6 -->
          <div class="secvices_section5_list">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="opacity_8">
              Lorem ipsum dolor sit amet, consectetur adipisci,
            </p>
          </div>
        </div>
        <div class="secvices_section5_list_lower_heading">
          <h2 class="title_fs">This is some on going sale deal details</h2>
        </div>
        <div class="secvices_section5_inner_left_button">
          <button class="hover:bg-yellow-600">Get Started</button>
        </div>
      </div>
      <!-- right side -->
      <div class="secvices_section5_inner_right" data-aos="fade-right">
        <div class="secvices_section5_inner_right_image_container">
          <img src="../../../assets/images/tyre.png" alt="" />
        </div>
      </div>
    </div>
    <div class="secvices_section5_cards absolute_content">
      <div class="secvices_section5_cards_inner bg_gray1">
        <!-- 1st -->
        <div class="secvices_section5_cards_first">
          <div data-aos="fade-down">
            <h6 class="secvices_section5_cards_first_heading_one text_darkblue2 text_center">
              Lorem ipsum
            </h6>
            <h3 class="secvices_section5_cards_first_heading_two text_center">
              34
            </h3>
            <h3 class="secvices_section5_cards_first_heading_three text_darkblue2 text_center">
              Lore
            </h3>
          </div>
        </div>
        <!-- 2nd -->
        <div
          class="
          secvices_section5_cards_first
          secvices_section5_cards_border
          "
        >
          <div data-aos="fade-down">
            <h6 class="secvices_section5_cards_first_heading_one text_darkblue2 text_center">
              Lorem ipsum
            </h6>
            <h3 class="secvices_section5_cards_first_heading_two text_center">
              126
            </h3>
            <h3 class="secvices_section5_cards_first_heading_three text_darkblue2 text_center">
              Lore
            </h3>
          </div>
        </div>
        <!-- 3rd -->
        <div
          class="
          secvices_section5_cards_first
          secvices_section5_cards_border
          hide_border
          "
        >
          <div data-aos="fade-up">
            <h6 class="secvices_section5_cards_first_heading_one text_darkblue2 text_center">
              Lorem ipsum
            </h6>
            <h3 class="secvices_section5_cards_first_heading_two text_center">
              346
            </h3>
            <h3 class="secvices_section5_cards_first_heading_three text_darkblue2 text_center">
              Lore
            </h3>
          </div>
        </div>
        <!-- 4th -->
        <div
          data-aos="fade-up"
          class="
          secvices_section5_cards_first
          secvices_section5_cards_border
          "
        >
          <div>
            <h6 class="secvices_section5_cards_first_heading_one text_darkblue2 text_center">
              Lorem ipsum
            </h6>
            <h3 class="secvices_section5_cards_first_heading_two text_center">
              43
            </h3>
            <h3 class="secvices_section5_cards_first_heading_three text_darkblue2 text_center">
              Lore
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section 6 -->
  <div class="section6_container">
    <div>
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>
<app-footer></app-footer>