<app-header></app-header>
<div class="home_container">
  <!-- section1 -->
  <div class="bg_gray1 section1_container">
    <div class="container_auto left_right_content_container">
      <!-- left side  -->
      <div class="left_side_sect1">
        <!-- <title -->
        <div>
          <div class="w_100per">
            <h3 data-aos="fade-down" class="line_height_50 text_darkblue2">
              <ngtypewriter [StringList]="list" [speed]="3000"></ngtypewriter>
            </h3>
            <p
              data-aos="fade-up"
              class="text_darkblue2 opacity_8 line_height_28"
            >
              Lorem ipsum dolor sit amet, consectetur adipis cing elit. nunc non
              risus condiment lobortis eni m at, ef sollicitudin risus. morbi
              dsfg nunc non risus condimen. r adipis cing elit. nunc nonarehhsh
            </p>
            <div class="button_container py-6" data-aos="fade-up">
              <button class="common_grayButton cursor_pointer">
                Get Started
              </button>
              <button class="cursor_pointer btn2">
                <span>watch Video</span>
                <img
                  src="../../../assets/images/Group39886@3x.png"
                  class="h_22px"
                  alt=""
                />
              </button>
            </div>
            <div class="logos_img_container" data-aos="fade-up">
              <img
                src="../../../assets/images/Group39757@3x.png"
                alt=""
                class="w-full"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- right side -->
      <div class="right_side_sec1">
        <img
          data-aos="fade-down"
          src="../../../assets/images/Group39884@3x.png"
          class="w-full"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- section2 -->
  <div class="bg_white section2_home">
    <div class="container_auto">
      <!-- title -->
      <div class="d_flex flex_column items_center title_container">
        <h3 class="font_bold text_center f_35" data-aos="fade-down">
          Specialties
        </h3>
        <div class="paragraph_container">
          <p class="text_center text_darkblue2" data-aos="fade-down">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
          </p>
        </div>
      </div>
      <!-- content -->
      <div class="box_container flex-wrap" data-aos="fade-up">
        <!-- box1 -->
        <div class="single_box">
          <div class="w_100per img_content_container cursor_pointer">
            <!-- img -->
            <div class="d_flex justify_start img_container">
              <img
                src="../../../assets/images/Group39887@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div class="title_arrwImg_content">
              <h4>Parts management</h4>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Easily manage your stock
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Match with car types
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Sell via Marktplaats and eBay
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Sell via your own site
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Import your current stock
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- box2 -->
        <div class="single_box">
          <div class="w_100per img_content_container cursor_pointer">
            <!-- img -->
            <div class="d_flex items_center img_content">
              <img
                src="../../../assets/images/Group39888@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div class="title_arrwImg_content">
              <h4>Vehicle management</h4>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Easily manage your stock
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Match with car types
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Sell via Marktplaats and eBay
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Sell via your own site
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Import your current stock
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- box3 -->
        <div class="single_box">
          <div class="w_100per img_content_container cursor_pointer">
            <!-- img -->
            <div class="d_flex items_center img_content">
              <img
                src="../../../assets/images/Group39889@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div class="title_arrwImg_content">
              <h4>Website / webshop</h4>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Easily manage your stock
                </p>
              </div>
              <div class="d_flex items_center img_content">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Match with car types
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Sell via Marktplaats and eBay
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Sell via your own site
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_center text_darkblue2 fs_13">
                  Import your current stock
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section3 -->
  <div class="bg_gray1 home_section3_container">
    <div class="container_auto">
      <!-- title -->
      <div class="d_flex flex_column items_center py-3">
        <h3 class="pt-3 font-bold text-center text-3xl" data-aos="fade-up">
          Benefits
        </h3>
        <div class="content_container" data-aos="fade-up">
          <p class="text_center text_darkblue2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
          </p>
        </div>
      </div>
      <!-- content -->
      <div class="images_container" data-aos="fade-left">
        <!-- left side -->
        <div class="single_image_container">
          <div>
            <img
              src="../../../assets/images/NoPath.png"
              alt=""
              class="w-full"
            />
          </div>
        </div>
        <!-- right side -->
        <div class="single_image_container">
          <div>
            <img
              src="../../../assets/images/NoPath.png"
              alt=""
              class="w-full"
            />
          </div>
        </div>
      </div>
      <div class="d_flex justify_center logo_image_container">
        <div
          class="
            bg_darkblue
            w-9/12
            absolute
            rounded
            py-5
            px-12
            flex
            justify-center
          "
        >
          <div>
            <img
              src="../../../assets/images/s3_logo.png"
              alt=""
              class="w-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section 4 -->
  <div class="bg_white section4_home">
    <div class="container_auto">
      <!-- title -->
      <div class="d_flex flex_column items_center title_content_s4">
        <h3 class="font_bold text_center" data-aos="fade-up">Why Us</h3>
        <div class="content_container" data-aos="fade-up">
          <p class="text_center text_darkblue2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
          </p>
        </div>
      </div>
      <div class="list_content_container">
        <!-- left side -->
        <div class="py-3 left_side_container" data-aos="fade-left">
          <h3 class="font_bold text_lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </h3>
          <div class="content_main_container">
            <p class="text_darkblue2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="d_flex">
            <div class="img_content_s4_img_container">
              <img
                src="../../../assets/images/Group39891@3x.png"
                alt=""
                class="h_40px"
              />
            </div>
            <div class="img_content_s4_h3_container">
              <h3 class="font_bold">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h3>
              <div class="paragraph_container">
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                </p>
              </div>
            </div>
          </div>
          <div class="d_flex">
            <div class="img_content_s4_img_container">
              <img
                src="../../../assets/images/Group39891@3x.png"
                alt=""
                class="h_40px"
              />
            </div>
            <div class="img_content_s4_h3_container">
              <h3 class="font_bold">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h3>
              <div class="paragraph_container">
                <p class="text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                </p>
              </div>
            </div>
          </div>
          <div class="py-10">
            <button class="cursor_pointer d_flex items_center">
              <span>See other Services</span>
              <img
                src="../../../assets/images/Path83039@3x.png"
                class="h_14px"
                alt=""
              />
            </button>
          </div>
        </div>
        <!-- right side -->
        <div class="right_side_container" data-aos="fade-right">
          <img
            src="../../../assets/images/Group39890@3x.png"
            alt=""
            class="w-full"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- section5 -->
  <div class="home_section5_container">
    <div class="left_right_container">
      <!-- left side  -->
      <div class="left_side_container bg_darkblue2">
        <div class="container_auto title_content px-2 lg:px-10 xl:px-10">
          <div class="inside_container" data-aos="fade-right">
            <h3 class="font_bold">About US</h3>
            <p class="opacity_8 line_height_25">
              Lorem ipsum dolor sit amet, consectetur adipis cing elit. nunc non
              risus condiment lobortis eni m at, ef sollicitudin risus. morbi
              dsfg nunc non risus condimen. r adipis cing elit. nunc nonarehhsh
            </p>
            <div class="button_container py-4">
              <button class="cursor_pointer">Get Started</button>
            </div>
          </div>
        </div>
      </div>
      <!-- right side -->
      <div class="right_side_container">
        <img
          data-aos="zoom-in"
          src="../../../assets/images/Group39895@3x.png"
          class="sideImg w-full"
          alt=""
        />
        <!-- <figure class="sideImg">
          <ng-container *ngIf="videodisabled; else videoblock">
            <img
              src="../../../assets/images/Group39895@3x.png"
              class="img-fluid thumblin h_inherit cursor-pointer"
              (click)="changeImg()"
            />
          </ng-container>
          <ng-template #videoblock class="w-full h-full">
            <iframe
              class="w-full h-full iframe_video"
              src="https://www.youtube.com/embed/5Peo-ivmupE?autoplay=1&mute=1&controls=0"
              allowfullscreen
            ></iframe>
          </ng-template>
        </figure> -->
      </div>
    </div>
  </div>
  <!-- section 6 -->
  <div class="bg-white py-5 px-3 section6_container">
    <div class="container_auto">
      <div data-aos="zoom-out" class="main_title pt-5">
        <h4 class="">Plans and Pricing</h4>
      </div>
      <!-- content -->
      <div class="box_container">
        <!-- box1 -->
        <div class="first_box_container w-full" data-aos="zoom-in-right">
          <div class="single_box py-5 cursor_pointer common_box">
            <div>
              <h4 class="main_title">Small Business</h4>
              <p class="below_title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididu.
              </p>
            </div>
            <div class="starting_and_month">
              <p>Starting at</p>
              <h4 class="">$€ 0<span>p.m</span></h4>
              <p class="text_darkblue2">Per agent per month</p>
            </div>
            <div class="list_container">
              <div class="single_item">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_left text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="single_item">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_left text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="single_item">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_left text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="single_item">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_left text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="single_item">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text_left text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
            </div>
            <div class="bottom_button">
              <div
                class="
                  px-3
                  py-2
                  rounded
                  flex
                  justify-center
                  items-center
                  hover:bg-yellow-400
                  cursor-pointer
                "
              >
                <p class="px-3 m-0 text-sm">See Pricing</p>
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  alt=""
                  class="h_14px"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- 2nd box -->
        <div
          class="second_box_container d_flex items_center"
          data-aos="zoom-in-left"
        >
          <div class="box_second">
            <div>
              <h4>Custom</h4>
            </div>
            <div>
              <p class="text_darkblue2 paragraph1">Design a custom package</p>
              <p class="paragraph2 text_darkblue2">
                Available for business with large advertising volume or unique
                business models
              </p>
            </div>
            <div class="hr_line"></div>
            <div
              class="
                d_flex
                justify_center
                items_center
                paragraph_button_container
              "
            >
              <div class="paragraph3_container">
                <p class="m-0 text-sm">Contact Sales</p>
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  alt=""
                  class="h_14px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section7 -->
  <div class="section7">
    <div class="main_title" data-aos="fade-up">
      <h4 class="">Testimonials</h4>
    </div>
    <div class="py-4">
      <carousel
        [cellsToShow]="carousalsValue()"
        [autoplay]="true"
        [loop]="true"
        [autoplayInterval]="3000"
        [arrows]="false"
        [overflowCellsLimit]="1"
        data-aos="fade-right"
        class="testimonial_box"
      >
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="common_box">
            <div class="stars_image_container">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="description_container content_container">
              <p class="text_justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="profile_content_container">
              <div class="profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div
                class="d_flex flex_column justify_center profile_name_container"
              >
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
      </carousel>
    </div>
  </div>
  <!-- section 8 -->
  <div>
    <app-contact-us></app-contact-us>
  </div>
</div>
<app-footer></app-footer>
