<div class="container mx-auto px-6">
  <div class="w-full py-6 px-2">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Instellingen
      </h4>
      <p class="text_darkGray py-2 lg:text-left xl:text-left text-sm">
        Zet hier functies aan en uit.
      </p>
    </div>
  </div>
  <div class="py-2 px-2">
    <h4 class="text-white text-sm opacity_8">Notificaties</h4>
  </div>
  <!-- content -->
  <div class="instellingen_content_container px-2">
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2">Nieuwe bestelling</span>
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Ontvang een notificatie per e-mail als er een nieuwe bestelling wordt
        geplaatst op de webshop.
      </p>
    </div>
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2"
          >Pakketje aangemeld bij postbedrijf</span
        >
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Ontvang een notificatie per mail als een pakket aangemeld is voor afhaal
        bij een gekozen postbedrijf.
      </p>
    </div>
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2"
          >Pakketje afgeleverd bij klant</span
        >
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Ontvang een notificatie per mail als het verzonden pakket is afgeleverd
        bij de klant.
      </p>
    </div>
    <div class="py-1">
      <h4 class="py-3 text-white text-sm opacity_8">Notificaties</h4>
      <div class="flex flex-col lg:flex-row xl:flex-row">
        <div>
          <label class="checkbox_container flex">
            <input type="checkbox" />
            <span class="checkmark"></span>
            <span class="checkbox_title font-medium px-2">Logo</span>
          </label>
          <p class="px-10 py-2 text-sm text_darkGray">
            Logo op productlabel printen.
          </p>
        </div>
        <div class="px-0 lg:px-10 xl:px-0">
          <label class="checkbox_container flex">
            <input type="checkbox" />
            <span class="checkmark"></span>
            <span class="checkbox_title font-medium px-2">QR-code</span>
          </label>
          <p class="px-10 py-2 text-sm text_darkGray">
            QR-code op label printen.(deze verwijst naar product)
          </p>
        </div>
      </div>
    </div>
    <div class="py-1">
      <h4 class="py-3 text-white text-sm opacity_8">Advertentie</h4>
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2">Automatische titel</span>
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Laat het systeem een titel voor de advertentie genereren.
      </p>
    </div>
    <div class="flex flex-col w-full">
      <label class="opacity_8 text-white text-sm py-2">Advertentietekst</label>
      <textarea
        class="common_form_input w-full px-5 py-3"
        placeholder="Type here"
        rows="4"
      ></textarea>
    </div>
    <div class="pt-7 pb-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2"
          >Standaard advertentietekst</span
        >
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Bij het aanmaken van een advertentie de standaard advertentietekst
        laden.
      </p>
    </div>
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2"
          >Advertentie zonder afbeelding toestaan</span
        >
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Als je deze aan hebt staan dan ontvang je geen melding wanneer je een
        advertentie aanmaakt zonder afbeeldingen.
      </p>
    </div>
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2"
          >Onderdeelnummer zoeken op Google</span
        >
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Als je op de zoekknop klikt dan wordt het ingevulde onderdeelnummer
        gezocht op Onderdelenlijn.
      </p>
    </div>
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2"
          >Onderdeelnummer zoeken op Onderdelenlijn</span
        >
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Als je op de zoekknop klikt dan wordt het ingevulde onderdeelnummer
        gezocht op Onderdelenlijn.
      </p>
    </div>
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2"
          >Onderdeelnummer zoeken op Marktplaats</span
        >
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Als je op de zoekknop klikt dan wordt het ingevulde onderdeelnummer
        gezocht op Marktplaats.
      </p>
    </div>
    <div class="py-1">
      <label class="checkbox_container flex">
        <input type="checkbox" />
        <span class="checkmark"></span>
        <span class="checkbox_title font-medium px-2">incl BTW</span>
      </label>
      <p class="px-10 py-2 text-sm text_darkGray">
        Standaard incl. BTW aanvinken bij het aanmaken van een advertentie.
      </p>
    </div>
  </div>
</div>
